BEARER=[apple bearer token]
MEDIA_USER_TOKEN=[apple media user token]
AMP_COOKIES=[amp request cookies]
CLIENT_ID=[spotify client id]
CLIENT_SECRET=[spotify client secret]
REDIRECT_URI=[spotify redirect link]